.header
  .header__container.container
    .header__wrapper
      .header__logo
        a(href='#').header__logo-link
          img(src='img/logo.png' alt='DonSon' title='DonSon').header__logo-img
          .header__logo-text производство текстиля для сна
      .header__rightPart
        .header__phone
          .header__phone-number
            a.header__phone-link(href='tel: 8-800-555-35-35') 8 (800) 555-35-35
          .header__phone-text отдел по работе с дистрибьюторами
        a.header__order(href='#') Заказать звонок

