.navigation
  .navigation__container.container
    ul.navigation__menu
      li.navigation__menu-item
        a(href='#').navigation__menu-link Главная
      li.navigation__menu-item
        a(href='#').navigation__menu-link Зарабатывать с Donson
      li.navigation__menu-item
        a(href='#').navigation__menu-link О компании
      li.navigation__menu-item
        a(href='#').navigation__menu-link Продукция и цены
      li.navigation__menu-item
        a(href='#').navigation__menu-link Начать сотрудничество
      li.navigation__menu-item
        a(href='#').navigation__menu-link Аналитика
      li.navigation__menu-item
        a(href='#').navigation__menu-link Маркетинг
      li.navigation__menu-item
        a(href='#').navigation__menu-link Контакты