.information
  .information__container.container
    h1.information__header Станьте эксклюзивным дистрибьютером Donson в своем регионе
    .information__wrapper
      h2.information__subHeader И зарабатывайте от 500 тыс. руб. в месяц
      .information__text1 На оптовой продаже текстиля для сна
      .information__text2 Гарантия выхода на прибыль уже в первый месяц
      .information__block
        .information__block-p1 Это возможно, поскольку мы обеспечим Вас текстильной продукцией высокого качества  и клиентами из Вашего региона, заинтересованных в оптовых закупках небольшими партиями
        .information__block-p2 Мы поможем Вам собрать или улучшить уже имеющуюся команду, проведем обучение Вас и персонала, научим наращивать объем продаж. С вами будет работать наш персональный менеджер, который поможет Вам в этом
        .information__block-p3 *Обычно наши дистрибьюторы через 3 месяца становятся самыми крупными текстильными компаниями в своем регионе и расширяют бизнес на соседние
      .information__button
        a.information__button-link(href='#') Узнать подробнее
        img.information__button-arrow(src='img/arrow-down.png')
  img.information__blanket(src='img/blanket.png')