include blocks/head/head
include blocks/header/header
include blocks/navigation/navigation
main
  include blocks/information/information
  include blocks/video/video
footer

include blocks/scripts/scripts

